.main {
  min-height: 100vh;
  background-color: rgb(255, 255, 255);
}
.main h1 {
  font-size: 4em;
  font-weight: bolder;
  color: rgba(8, 67, 113, 0.934);
  align-self: right;
}

.lottryInfo a {
  font-size: 1em;
}
.lottryInfo ul li {
  list-style-type: none;
  margin-left: 0em;
}
.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
